body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
height: 100%;
background-color: #EFFFFD;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg : #78e3d4;
  --bg-accent : #00c853;
  --text-color : #272727;
  --text-color-1 : #EFFFFD;
  --text-highlight : null ;
  --app-bg : #a7e9e9;
  --nav-size : 60px;
  --border: 1px solid #474a4d;
  --border-radius : 8px;
  --speed : 500ms;
  --font-wg : 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color : var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  box-shadow: 0 0 1.2rem rgba(0,0,0, 0.20);
  
}

.navbar-nav {
  padding-top: 7px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


.navitem {
  width: calc(var(--nav-size)*0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  --button-size : calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 2px;
  background-color: var(--bg-accent);
  transition: 300ms;
}

.icon-button:hover{
  filter: brightness(1.05);
  transform: scale(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width : 20px;
  height : 20px;
}



.icon-right {
  margin-left: auto;
}


.profile{
position: relative;
top: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

}

.profile-image img {
  border-radius: 50%;
  width: 200px;
  height : 200px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  
}


.profile-name {
  position: relative;
  bottom: 10px; 
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.profile-skills {
  position: relative;
  bottom: 45px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
  opacity: 0.7;
}

.profile-project {
  box-shadow: 0 0 1.2rem rgba(61, 184, 165, 0.2);
  color: var(--text-color);
  position: relative;
  bottom: 20px;
  font-size: 12px;
  font-weight: var(--font-wg);
  border: (--border);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--bg);
  transition: var(--speed);
}

.profile-project:hover {
  font-style: italic;
  color: black;
  border-color: black;
background-color: var(--bg-accent);
}

.intro {
  background: url(./icons/bg-intro.svg) 50% 180%;
  height: 91vh;
  background-repeat: no-repeat;
  transition: var(--speed);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91vh;
  background: url(./icons/bg-contact.svg) 50% 180%;
  background-repeat: no-repeat;
}


.contact-info {
  box-shadow: 0 0 1.2rem rgba(61, 184, 165, 0.30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  padding: 10px;
  color: var(--text-color);
  transition: var(--speed);
}

.contact span {
  padding : 10px;
}

.contact p {
  font-size: 17px;
  font-weight: var(--font-wg);
  cursor: pointer;
}
.contact-links {
  padding-top: 10px;
}
.contact-links a{
padding: 10px;

}

.contact-links svg{
  transition: var(--speed);
}

.contact-links svg:hover{
  animation: link 300ms linear;
  transform: scale(1.1);
}

@keyframes link{
  0% {
    
    transform: rotate(-20deg);
  }
  50% {
    
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.about {
  height: 90vh;
  margin-top: 100px;
}


.about-info {
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 0 1.2rem rgba(61, 184, 165, 0.20);
  max-width: 900px;
  padding: 50px;
  position: relative;
  top: -255px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: var(--speed);
  font-weight: var(--font-wg);
  background: url(./icons/bg-about.svg) center left;
  background-repeat: no-repeat;
}


.about-lang {
  color: var(--bg-accent);
  font-weight: 700;
}
.about-resume {
  opacity: 0.9;
}
.project {
  height: 100vh;
  margin-top: 100px;
}

.project h1 , .about h1{
 font-size: 10rem;
  z-index: 0;
  opacity: .1;
  position: relative;
  top: -100px;
}


.project-details {
  /*
  box-shadow: 0 0 1.2rem rgba(61, 184, 165, 0.20);
  */
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  max-width: 900px;
  padding: 50px;
  position: relative;
  top: -250px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: var(--speed);
  background: url(./icons/bg-project.svg) top center;
  background-repeat: no-repeat;
}
/*
.project-details:hover {
  background-color: var(--bg);
}
*/
.project-image img {
  width:300px;
  height: 160px;
  border-radius: 10px;
}

.project-image .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 160px;
  font-weight: 700;
  font-size: large;
  /* border: 2px blue;
  background-color: #080808; */
  border-radius: 10px;
 
}



.project .text {
  color: var(--text-color);
}
.project .app p{
  font-size: 13px;
  font-weight: var(--font-wg);
}
.project .app{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1.2rem rgba(61, 184, 165, 0.25);
    color: var(--text-color);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    /*background-color: var(--app-bg);*/
  }

  .project .app a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    width: 200px;
    height: 200px;
  }


.app {
  
  margin: 50px;
  margin-left: 130px;
  transition: var(--speed);

}

.app:hover {
  transform: scale(1.1);
}



/* MEDIA QUERY */

@media screen and (max-width: 700px) {


  .contact-info {
    width: 300px;
    height: 200px;
    position: relative;
    top: -50px;
  }
  
  .about-info {
    top: -180px;

  }

  .project h1, .about h1 {
    font-size: 5rem;
  }

  .project-details {
    top: -180px;
    justify-content: center;
  
  }

  .app {
  
    margin-left: 50px;
  
  }
  
  
  
}
